MEAN_POSTS=400
MAX_POSTS_INFLUENCERS=1500
MEAN_POSTS_BOTS=15
PERCENTAGE_FOLLOWERS_INFLUENCERS=0.85
PERCENTAGE_VERIFIED_PERSON=0.3
DEVIATION_FOLLOWERS_INFLUENCERS=0.05
PERCENTAGE_FOLLOWERS_PERSON=0.05
PERCENTAGE_PERSONS_FOLLOW_TO_BOTS=0.2
PERCENTAGE_FOLLOW_TO_BOTS=0.05
PERCENTAGE_BOTS_FOLLOWING_PERSONS=0.80
DEVIATION_BOTS_FOLLOWING_PERSONS=0.10
PERCENTAGE_BOTS_FOLLOW_BOTS=0.95
N_ACCOUNTS=1000
P_BOTS=0.3
P_INFLUENCERS=0.2

MODEL_NAME=gcn/sage
MODEL_PATH=
HIDDEN_CHANNELS=32
NUM_FEATURES=4
OUT_CHANNELS=2

EPOCHS=200
LEARNING_RATE=0.01
RATIO_VALIDATION=0.2
RATIO_TEST=0.1
N_NODES_TEST=30
NUM_NEIGHBORS="[25, 15]"
BATCH_SIZE=128
TYPE_TRAINER=sampling/full
EARLY_STOPPING_PATIENCE=10
EARLY_STOPPING_DELTA=0.001

URI_NEO4J=bolt://localhost:7687
HOST_REDIS=localhost
PORT_REDIS=6379
DB_REDIS=0